*{
padding:0;
margin:0;
box-sizing: border-box;
}

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

.container{max-width:1440px;margin:0 auto;min-height:100vh;;}

/* nav bar */
.container .navContainer{display:flex;justify-content: space-between;align-items:center;padding:0 72px;;}
.container .navContainer img{width:90px;margin:16px 0;}
.container .navLinksBox{list-style-type:none;display: flex;gap:33px;}
.container .navLinksBox li{margin:33px 0;}
.container .navLinksBox a{font-family: 'Poppins', sans-serif;color:rgba(80, 80, 80, 1);text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    }

/* banner */
.container .bannerContainer{display:flex;justify-content:space-between;gap:10px;background: rgba(249, 249, 249, 0.5);padding:32px 72px;}
.container .bannerContainer .bannerContentBox{}
.container .bannerContainer .bannerContentBox h1{color:#343434;font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;

    }
    .container .bannerContainer .bannerContentBox h1 span{
        font-size: 36px;
        font-weight: 600;
       
        }
        .container .bannerContainer .bannerContentBox p{font-family: 'Work Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.14px;
            max-width: 767px;
            max-height: 76px;margin:20px 0 30px 0;
           
            
            }
            .container .bannerContainer .bannerContentBox button{font-family: 'Poppins', sans-serif;background:white;
                font-size: 16px;
                font-weight: 500;
                line-height: 68px;
                width: 414px;
                height: 40px;
               
                border-radius: 4px;display:flex;align-items:center;justify-content:center;
                border: 2px solid rgba(107, 101, 101, 1);
                color:rgba(0, 0, 0, 1);
               
                
                }
.container .bannerContainer img{max-width:376px;max-height:374px;}


/* Our Experties */
.container .expertiesContainer{padding:0px 72px;}
.container .expertiesContainer h1{font-family: 'Montserrat', sans-serif;color:rgba(0, 0, 0, 1);margin:20px 0 30px 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 60px;text-align: center;
 
    }

    .container .expertiesContainer .expertiesCardBox{display:grid;grid-template-columns: 1fr 1fr 1fr;row-gap: 70px;;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard{text-align:center;display: flex;flex-direction:column;align-items:center;justify-content:space-between;;gap:10px;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard img{max-width:50%;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent p{font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 60px;
       
        }
        .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent button{font-family: 'Poppins', sans-serif;background:white;
            font-size: 16px;
            font-weight: 500;
            line-height: 68px;
           padding:0 20px;
height: 40px;margin:0 auto;

border-radius: 4px;display:flex;justify-content: center;align-items: center;
border: 2px solid rgba(51, 51, 51, 1);
            }
    .container .expertiesContainer .expertiesCardBox .centerCard{border-left:0.3px solid rgb(139, 139, 139);border-right:1px solid rgb(139, 139, 139);}

/* 
    fourth section */
    .fourthSection{display:flex;justify-content: center;flex-direction: column;align-items: center;gap:20px;padding:140px 72px;;text-align:center;}
    .fourthSection .firstLine{font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 60px;
       
        }
        .fourthSection .firstLine span{font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 60px;
      
            }
            .fourthSection img{max-width: 711px;
                height: 186px;
                
                }

                .fourthSection .secondLine{font-family: 'Work Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.87px;
                    
                    }
                    .fourthSection .thirdLine{font-family: 'Work Sans', sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 32.81px;
                     
                        }

/* Tripple loop sections */
    .tripleLoopSection{padding:0 72px;}
    .tripleLoopSection h1{font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 60px;
        text-align: center;
        }
        .tripleLoopSection .container{display:flex;gap:70px;margin-top:68px;}
        .tripleLoopSection .container img{width: 466px;
            max-height: 470px;
           
            }
            .tripleLoopSection .container .rightBox{display:flex;flex-direction:column;gap:90px;}
            .tripleLoopSection .container .rightBox .loopDetails{display: grid;grid-template-columns:1fr 4fr;gap:30px;border-left:0.3px solid rgb(139, 139, 139);}
            .tripleLoopSection .container .rightBox .loopDetails h1{color:#343434;font-family: 'Montserrat', sans-serif;margin-left:30px;align-self:center;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;}
                .tripleLoopSection .container .rightBox .loopDetails h1 span{color:#343434;font-family: 'Montserrat', sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 28px;}
            .tripleLoopSection .container .rightBox .loopDetails ul li p{font-family: 'Work Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;}


                /* sixth section */
                .sixthSection{display:flex;align-items:center;padding:120px 72px;}
                .sixthSection img{width: 540px;position:absolute;right:0;
                    max-height: 382px;
                   
                    
                    }
                    .sixthSection h2{font-family: 'Montserrat', sans-serif;
                        font-size: 32px;width:710px;
                        font-weight: 500;
                        line-height: 60px;margin-bottom:20px;
                        
                        }
                        .sixthSection p{font-family: 'Work Sans', sans-serif;
                            font-size: 20px;width:745px;
                            font-weight: 400;
                            line-height: 27.34px;
                            
                            }
