*{
padding:0;
margin:0;
box-sizing: border-box;
}
html{scroll-behavior:smooth;;;}

@font-face {
    font-family: 'Fustat';
    src: url('fonts/fustat.woff2') format('woff2'),
         url('fonts/fustat.woff') format('woff'),
         url('fonts/fustat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /* body{background:green;} */

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

.container{max-width:1440px;margin:0 auto;min-height:100vh;overflow:hidden;;}

/* nav bar */
/* .container .navContainer{display:flex;justify-content: space-between;align-items:center;padding:0 72px;;}
.container .navContainer img{width:110px;margin:15px 0;}
.container .navLinksBox{list-style-type:none;display: flex;gap:30px;}
.container .navLinksBox li{margin:0px 0;}
.container .navLinksBox a{font-family: 'Poppins', sans-serif;color:#353535;text-decoration: none;font-size: 12px;font-weight: 500;line-height: 21px;} */
.container .navContainer{
    
    max-width:1440px;
    background:white;
    position:fixed;top:0;
    width:100%;;
    display:flex;justify-content: space-between !important;align-items:center;
    padding:0 72px;
    transition: transform 0.6s ease, opacity 0.6s ease;transform-origin: top; /* Pivot point for the flip */
    z-index: 999;text-align:center;}

.container .navContainer img{width:90px;padding:22px 0;}
.container .navLinksBox{list-style-type:none;display: flex;gap:30px;}

.container .navLinksBox a{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color:rgba(80, 80, 80, 1);text-decoration: none;
    }
    
.container .navLinksBox a:hover{color:#080808;}



/* .navContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    
} */

.hide-nav {
    transform: rotateX(90deg); /* Flip upwards */
    opacity: 0;
}

.show-nav {
    transform: rotateX(0deg); /* Return to normal */
    opacity: 1;
}



/* banner */
.container .bannerContainer{display:flex;;justify-content:space-evenly;gap:40px;padding:59px 72px 69px;margin:82px 0 0px;
    background-image:url('Resources/backgroundTexture.png');
    background-size:cover;
    background-repeat:no-repeat;

    ;;}

/* .container .bannerContainer .bannerContentBox h1{
    color:rgba(52, 52, 52, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;

    }
    .container .bannerContainer .bannerContentBox h1 span{
        font-size: 36px;
        font-weight: 700;
       
        }
        .container .bannerContainer .bannerContentBox p{
           font-family: 'Inter', sans-serif;;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;margin-top:35px;max-width:874px;
            
            }
            .container .bannerContainer .bannerContentBox p span{
                font-family: 'Inter', sans-serif;;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

            } */


            /* ////////////////// */

            .container .bannerContainer .bannerContentBox h1{
                color:rgba(52, 52, 52, 1);
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 60px;
            
                }
                .container .bannerContainer .bannerContentBox h1 span{
                    font-size: 32px;
                    font-weight: 700;
                   
                    }
                    .container .bannerContainer .bannerContentBox p{
                       font-family: 'Inter', sans-serif;;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.02em;margin-top:16px;max-width:874px;
                        
                        }
                        .container .bannerContainer .bannerContentBox p span{
                            font-family: 'Inter', sans-serif;;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            
                        }


                        /* //////////////////////////////// */
            .container .bannerContainer .bannerContentBox button{font-family: 'Poppins', sans-serif;background:white;
                font-size: 14px;
                font-weight: 600;
                line-height: 68px;
               
                height: 36px;
               
                border-radius: 4px;display:flex;align-items:center;justify-content:center;
                border: 2px solid rgba(107, 101, 101, 1);
                color:rgba(0, 0, 0, 1);margin-top:45px;padding:0px 50px;
               
                
                }
.container .bannerContainer img{max-height:300px;;}

/* additional section */
.additionalSection{display:grid;grid-template-columns:1fr 1fr;;gap:65px;padding:30px 146px;background:rgba(249, 249, 249, 1);}
.additionalSection p{font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: justify;color:#000000;
    }
    .additionalSection p span{font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.14px;
        text-align: justify;
        }

/* Our Experties */
.container .expertiesContainer{padding:48px 72px 66px ;;}
.container .expertiesContainer h1{
    font-family: 'Montserrat', sans-serif;color:rgba(43, 43, 43, 1);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
   


 
    }
    

    .container .expertiesContainer .expertiesCardBox{display:grid;grid-template-columns: 1fr 1fr 1fr;row-gap: 40px;margin-top:20px;;}
  
    .container .expertiesContainer .expertiesCardBox .centerCard{position:relative;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard{text-align:center;display: flex;flex-direction:column;align-items:center;justify-content:space-between;;gap:2px;padding:0 50px;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard .imageBox{object-fit: contain;max-width:159px;max-height:138px;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard .imageBox img{object-fit: contain;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard .imageBox{width:100%;height:auto;}
    .container .expertiesContainer .expertiesCardBox .expertiesCard .imageBox img{max-width:100%;max-height:100%;}
    /* .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent p{
        font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 60px;margin-top:-20px;color:rgba(0, 0, 0, 1);
        } */

           /* ////////////// */
          .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent p{
        font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 60px;margin-top:-20px;color:rgba(0, 0, 0, 1);
        }



        /* ////////////// */

        .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent button{
            font-family: 'Inter', sans-serif;background:white;
             font-size: 16px;
             font-weight: 500;
             line-height: 68px;

             padding:0 25px;height: 35px;margin:12px auto 0;color:#000000;max-width:196px;
             border-radius: 4px;border: 2px solid rgba(171, 182, 190, 1);
             display:flex;justify-content: center;align-items: center;
             
            }

            .container .expertiesContainer .expertiesCardBox .expertiesCard .cardContent button:hover{cursor:pointer;border: 2px solid #1A73E8;color: rgb(35, 35, 35);}
    .container .expertiesContainer .expertiesCardBox .centerCard::after{content:"";
    position:absolute;
    width:1px;height:124px;;;background:rgba(156, 156, 156, 1);;opacity:60%;
    left:0;top:10%;
}
.container .expertiesContainer .expertiesCardBox .centerCard::before{content:"";
    position:absolute;
    width:1px;height:124px;;;background:rgba(156, 156, 156, 1);;opacity:60%;
    right:0;top:10%;
}
  
/* 
    fourth section */
    .fourthSection{display:flex;flex-direction: column;align-items: center;padding:52px 74px 85px;margin:0px 0 0px;;text-align:center !important;
        background-image:url('Resources/backgroundTexture.png');
        background-size:cover;
        background-repeat:no-repeat;
        ;;;;   }
    .fourthSection .firstLine{
        font-family: 'Montserrat', sans-serif;

                        font-size: 24px;
                        font-weight: 400;
                        line-height: 46px;color:rgba(52, 52, 52, 1);
       
        }
        .fourthSection .secondLine{ font-family: 'Montserrat', sans-serif;margin-top:-10px;

            font-size: 22px;
            font-weight: 400;
            line-height: 60px;color:#343434;
}
        .fourthSection .secondLine span{font-family: 'Montserrat', sans-serif;

            font-size: 28px;
            font-weight: 600;
            line-height: 46px;color:#343434;
      
            }
            .fourthSection img{max-width: 719px;max-height:207;margin:10px auto 10px;text-align:center;;


               
                
                }

                .fourthSection .thirdLine{margin-top:20px;
                    font-family: 'Inter', sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 30.08px;
letter-spacing: 0.02em;max-width:873px;
text-align: center;color:rgba(43, 43, 43, 1);;

                    }
                    .fourthSection .thirdLine span{
                        font-family: 'Inter', sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 30.08px;
letter-spacing: 0.02em;
text-align: center;color:rgba(43, 43, 43, 1);

                    }
                    .fourthSection .fourthLine{font-family: 'Work Sans', sans-serif;
                        font-size: 22px;margin-top:5px;margin-left:auto;margin-right:auto;
                        font-weight: 300;
                        line-height: 32.81px;color:#000000;;
                     
                        }

/* Tripple loop sections */
    .tripleLoopSection{padding:43px 72px 100px;}
    .tripleLoopSection h1{
        font-family: 'Montserrat', sans-serif;color:rgba(43, 43, 43, 1);
font-size: 28px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.02em;
text-align:center;

        }
        .tripleLoopSection .container{display:flex;gap:80px;margin-top:50px;justify-content:center;}
        .tripleLoopSection .container img{max-width: 466px;
            max-height: 470px;
           
            }
            .tripleLoopSection .container .rightBox{display:flex;flex-direction:column;gap:70px;}
            .tripleLoopSection .container .rightBox .loopDetails{display: grid;grid-template-columns:1fr 4fr;position:relative;gap:36px;border-left:0.3px solid #DADCE0;}
            
            .tripleLoopSection .container .rightBox .loopDetails h1{color:#72757f;font-family: 'Montserrat', sans-serif;margin-left:30px;align-self:center;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;}
                .tripleLoopSection .container .rightBox .loopDetails h1 span{color:#72757f;font-family: 'Montserrat', sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 28px;}
                    .tripleLoopSection .container .rightBox .loopDetails ul{width:380px;display:flex;flex-direction:column;gap:4px;}
            .tripleLoopSection .container .rightBox .loopDetails ul li p{font-family: 'Work Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;color:#69696e;}
                .tripleLoopSection .container .rightBox .loopDetails:hover::after{content:"";position:absolute;width:7px;height:100%;background:rgb(190, 190, 190);border-top-right-radius: 10px;border-bottom-right-radius:10px; ;}
                .tripleLoopSection .container .rightBox .loopDetails:hover h1{color:#202124;}
                .tripleLoopSection .container .rightBox .loopDetails:hover h1 span{color:#202124;}
                .tripleLoopSection .container .rightBox .loopDetails:hover ul li p{color:#101011;}

                /* sixth section */
                .sixthSection{display:grid;grid-template-columns:2fr 1fr;gap:30px;align-items:space-evenly;;padding:60px 72px;background:rgba(249, 249, 249, 1);
                    background-image:url('Resources/backgroundTexture.png');
                    background-size:cover;
                    background-repeat:no-repeat;
                    ;;;}
                .sixthSection .contentBox{display:flex;justify-content:center;flex-direction:column;align-items:center;}
                .sixthSection img{max-width:280px;margin-left:20px;;
                    
                   
                    
                    }
                    .sixthSection h2{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 60px;
                        text-align:center;
                        color:rgba(43, 43, 43, 1);;
                        
                        }
                        .sixthSection p{                            
                            font-family: 'Inter', sans-serif;
                            font-size: 18px;max-width:780px;
                            font-weight: 400;color:rgba(43, 43, 43, 1);
                            line-height: 30px;
                            letter-spacing: 0.02em;
                            text-align:center;margin-top:15px;
                      
                            
                      
                            
                            
                            }
                            .sixthSection p span{
                                font-family: 'Inter', sans-serif;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 30px;
                                letter-spacing: 0.02em;
                                text-align: center;}

      /* About founder Section */
    .founderSection{padding:84px 72px 96px;;;}
    .founderSection h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 60px;


        font-family: 'Montserrat', sans-serif;color:rgba(43, 43, 43, 1);
 
        }
    .founderSection .contentBox{display:flex;;gap:143px;margin-top:12px;align-items:start;justify-content:space-between;}
    .founderSection .contentBox .about{display:flex;flex-direction:column;gap:20px;}
    .founderSection .contentBox .about p{
       font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.04em;
max-width:720px;


      color:rgba(43, 43, 43, 1);;
          
          
            


        }
        .founderSection .contentBox .about p span{
            font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;

        }
    .founderSection .contentBox img{
        max-width: 380px;
max-height: 365.31px;

border-radius: 8px;


        margin-top:-56px;
       
        
        }

        /* trusted by client section */
        .trustedBy{padding:62px 72px;;;;
                    background-image:url('Resources/backgroundTexture.png');
                    background-size:cover;
                    background-repeat:no-repeat;
            ;;}
        .trustedBy h1{
            font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 60px;
text-align: left;

            color:rgba(43, 43, 43, 1);;;
           
            }
            .trustedBy p{
                font-family: 'Work Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 21.87px;
letter-spacing: 0.02em;
text-align: left;

                
                color:rgba(43, 43, 43, 1);
                
              margin-top:10px;
                }
                .trustedBy .trustedContainer{display:flex;align-items: center;margin:30px 0;;}
                .trustedBy .trustedContainer .arrow{width:24px;height:24px;opacity:0.6;}
                .trustedBy .trustedContainer .leftArrow{opacity:0.2;}

                .trustedBy .trustedContainer .logoBox{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;margin:0 auto;padding:0 20px 0 30px;row-gap:20px;column-gap:60px;;}
                .trustedBy .trustedContainer .logoBox .companyLogo{max-height:140px;max-width:140px;padding:10px;}




        /* testimonial section */
        .testimonialBox{padding:52px 72px 107px;}
        .testimonialBox h1{
            font-family: 'Montserrat', sans-serif;color:rgba(43, 43, 43, 1);;;
font-size: 28px;
font-weight: 600;
line-height: 60px;
text-align: center;


            }
            .testimonialBox .box{display:flex;align-items:center;margin:60px 0 0;}
            .testimonialBox .box .arrow{width:24px;height:24px;opacity:0.6;}
            .testimonialBox .box .leftArrow{opacity:0.2;}
           
            .testimonialBox .testimonialContainer {display:grid;grid-template-columns: 1fr 1fr;}
            .testimonialBox .testimonialContainer .messageBox{padding:0 60px;display:flex;flex-direction:column;gap:5px;}
           
            .testimonialBox .testimonialContainer .messageBox .messageHeading{
                font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 21.87px;

}
            .testimonialBox .testimonialContainer .messageBox p{
                 font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 21.87px;
color:rgba(43, 43, 43, 1);




             
                
                }
    
                    .testimonialBox .testimonialContainer .messageBox .message span{color:rgba(83, 140, 209, 1);}
                    .testimonialBox .testimonialContainer .messageBox .messageBy{display:flex;align-items:center;margin-top:15px;}
                    .testimonialBox .testimonialContainer .messageBox .messageBy img{max-width:57px;}
                    .testimonialBox .testimonialContainer .messageBox .messageBy .personDetails{display:flex;flex-direction:column;margin-left:22px;
                       
                        
                       
                      }
                    .testimonialBox .testimonialContainer .messageBox .messageBy .name{
                        font-family: 'Work Sans', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 21.87px;
color:rgba(0, 0, 0, 1);


                     
                       
                        
                        }
                        .testimonialBox .testimonialContainer .messageBox .messageBy .aboutPerson{
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 21.87px;
                            text-align: center;
                            
                           color:rgba(43, 43, 43, 1);;;
                            
                            }
                            .testimonialBox .testimonialContainer .firstMessageBox{position:relative;;;}
                            .testimonialBox .testimonialContainer .firstMessageBox::after{content:"";width:0.8px;height:80%;;;;background:rgba(166, 166, 166, 1);position:absolute;top:20px;bottom:20px;right:0;}

    /* video section */
    .videoSection{padding:88px 72px;display:flex;justify-content:center;;align-items:center;gap:20px;
        background-image:url('Resources/backgroundTexture.png');
        background-size:cover;
        background-repeat:no-repeat;
        
        
        ;;}
    .videoSection .video{border-radius:8px;max-width:840px;
        max-height:473px;
        
        }
        .videoSection .butterfly{max-width:149px;
            max-height: 306px;
            
            }

    /* second last section */
    .secondLast{padding:0px 72px;display:flex;gap:5px;justify-content:center;align-items:center;;margin:100px auto 70px;}
    .secondLast img{max-width: 200px;
        max-height: 166px;
        
        }
     .secondLast .secondLastContainer{display:flex;flex-direction:column;text-align:center;}
     .secondLast .secondLastContainer h1{
        /* font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px; */
        font-family: 'Montserrat', sans-serif;color:#000000;;;
            text-align:center;
            font-size: 26px;
            font-weight: 600;
            line-height: 60px;
       
        }
        .secondLast .secondLastContainer  button{font-family: 'Poppins', sans-serif;
            font-size: 15px;background:white;
            font-weight: 600;max-height:30px;display:flex;justify-content:center;align-items:center;margin:40px auto 20px;padding:16px 70px;
            line-height: 68px;border:1.9px solid #6B6565;border-radius:4px;color:#000000;
            
            }
            .secondLast .secondLastContainer p{font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 500;
                line-height: 60px;
               color:#000000;
                }



                /* footer */
  

 footer{padding:45px 100px 0;;
    background-image:url('Resources/backgroundTexture.png');
        background-size:cover;
        background-repeat:no-repeat;
    
    ;}
  
    .logoBox {margin-bottom:27px;
        display: flex;
        align-items: center;justify-content:space-between;
    }

    .logoBox .companyLogo {
        max-width: 100px;
        max-height:74px;;
    }

    .social-icons {
        display: flex;
        align-items: center;gap:14px;
    }

    .social-icons a {
        display: inline-block;
        margin-right: 10px;
    }

    .social-icons a img {
        width: 30px;
      
    }
    .social-icons a .youTube{width:40px;}

    .content {
        display: flex;
        justify-content: space-between;
        
    }

    .links {
        width: 200px;
    }

    .links h3 {position:relative;
        margin-bottom: 20px;
        font-family: 'Work Sans', sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 15.4px;
letter-spacing: 0.04em;
text-align: left;

        

color:rgba(18, 28, 38, 1);margin-left:14px;

    }
    .links h3::before{content:"";position:absolute;width:6px;left:-14px;height:6px;;top:5px;border:1px solid rgba(44, 113, 246, 1);border-radius:50%;}

    .links a {text-decoration:none;
        display: block;
        margin-bottom: 2px;
       
        font-family: 'Inter', sans-serif;
        
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;margin-top:2px;
      
        
color:rgba(43, 43, 43, 1);;

    }

    .info {margin-left:130px;
        width: 200px;
    }

    .info h3 {position:relative;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 15.4px;
        letter-spacing: 0.04em;
     
        
                
        
        color:rgba(38, 46, 54, 1);
     
        
        margin-bottom: 18px;margin-left:14px;
    }
    .info h3::before{content:"";position:absolute;width:6px;left:-14px;height:6px;;top:5px;border:1px solid rgba(44, 113, 246, 1);border-radius:50%;}

    .info p {font-family: 'Inter', sans-serif;color:rgba(43, 43, 43, 1);;
      
        
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
       
        
        
        margin-bottom: 30px;
    }

    .subscription {text-align:right;
        min-width: 300px;
    }
    .subscription p{max-width:280px;;margin-left:auto;
        font-family: 'Work Sans', sans-serif;;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: right;

        
        
        color:rgba(43, 43, 43, 1);;
        }

    .subscription h3 {position:relative;;margin:16px 0 18px 0;color:rgba(38, 46, 54, 1);;
        font-family: 'Work Sans', sans-serif;

       
font-size: 14px;
font-weight: 600;
line-height: 15.4px;
letter-spacing: 0.04em;


      
        
       
    }
    .subscription h3::before{content:"";position:absolute;width:6px;left:-14px;height:6px;;top:5px;border:1px solid rgba(44, 113, 246, 1);border-radius:50%;}

    .subscription input[type="email"] {width:200px;height:35px;
        padding: 0px 16px;background:rgba(249, 249, 249, 1);;
        border: 2px solid rgba(107, 101, 101, 1);
        border-radius: 5px 0 0 5px;
       
        margin-bottom: 20px;
        font-family: 'Work Sans', sans-serif;;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
color:rgba(172, 172, 172, 1);;

margin-right:-5px;


    }

    .subscription button {width:178px;height:35.5px;background:rgba(51, 50, 50, 1);color:rgba(255, 255, 255, 1);
        font-family: 'Work Sans', sans-serif;;
font-size: 14px;
font-weight: 700;
line-height: 19.6px;


        padding: 0 20px;border:none;
        
       
       
        border-radius: 0 5px 5px 0;border:none;
        cursor: pointer;

    }
    .bottomFooter{display:flex;justify-content:space-between;padding:47px 0;;
    }
    .bottomFooter p{
    

        font-family: 'Inter', sans-serif;;color:#4B4D50;;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        
        }
        .bottomFooter a{font-family: 'Inter', sans-serif;
            font-size: 12px;color:#4B4D50;text-decoration:none;
            font-weight: 400;
            line-height: 16.8px;
            
            }
